<header>
    <%= stylesheet_link_tag "forms" %>
</header>

<body>
    <div class="uk-panel uk-panel-box uk-align-center">
        
        <div>
            <h2><%=   _("#{t('task.create_new_title')}") %></h2></br>
            <h4><%=   @project.name %></h4></br>
        </div>

        <div class="uk-overflow-container">
        	<%= simple_form_for([@project, @task], :url => {:controller => 'tasks', :action => 'create'}) do |t| %>

                <table class="uk-width-2-2 uk-text-right">
                    <tr>
                        <td><%= _("#{t('task.phase')}") %> </td>
                        <td><%= t.input :phase, collection: SupportedPhase.collection, label: false, error: 'Phase must be specify', :selected => '01_goals'  %></td>
                    </tr><tr>
                        <td><%= _("#{t('task.name')}") %></td>
                        <td><%= t.input :name, label: false %></td>              
                    </tr><tr>
                        <td><%= _("#{t('task.description')}") %></td>
                        <td><%= t.text_area :description, label: false, style: 'width:100%', rows: '5' %></td>   
                    </tr><tr>
                        <td><%= _("#{t('task.category')}") %> </td>
                        <td><%= t.input :category, collection: SupportedCategory.collection, label: false, error: 'Category must be specify'  %></td>
                    </tr><tr>
                        <td><%= _("#{t('task.status')}") %> </td>
                        <td><%= t.input :status, collection: SupportedStatus.collection, label: false, error: 'Status must be specify', :selected => 'not_started' %></td>
                    </tr>
                    <tr>
                        <td><%= _("#{t('task.my_pro')}") %></td>
                        <td><%= t.collection_select :pro_id, Pro.where(project_id: @project.id), :id, :full_name, {:prompt => _("#{t('common.select')}")} %></td>
                    </tr>
                    <tr>
                        <td><%= _("#{t('task.duration')}") %>  </td>
                        <td><%= t.input :duration, label: false %></td>
                    </tr>
                    <tr>
                        <td><%= _("#{t('task.cost')}") %>  </td>
                        <td><%= t.input :cost, label: false %></td>
                    </tr>
                    <tr>
                        <td><%= _("#{t('task.paid')}") %>  </td>
                        <td><%= t.input :paid, label: false %></td>
                    </tr>
                    <% t.input :project_id, :value => params[:project_id], label: false %>
                </table>

                <div class="uk-text-left">
                    <%= t.button :submit, _("#{t('common.submit')}"), class:'primary-button mini-button' %>    
                </div>
            <% end %>
        </div>
    </div>
</body>
