<div id='payment_form' class="mfp-hide white-popup uk-panel uk-panel-box uk-align-center">
  <div class="uk-overflow-container">
    <table class="uk-width-2-2 uk-text-right">
      <tr>
        <td>
          <h1><%= t('task.budget')%></h1>
        </td>
      </tr>
      <tr>
        <td>
          <%= label_tag "#{t('task.cost')}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= text_field_tag "#{t('task.cost')}",'', class: "form-control" %>
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <%= label_tag "#{t('task.paid')}" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= text_field_tag "#{t('task.paid')}",'', class: "form-control" %>
        </td>
      </tr>
    </table>
    <br>
    <div class="uk-text-left margin-left-12">
      <%= submit_tag "#{t('common.submit')}", id: "cost_paid_submit", class:'primary-button mini-button' %>
    </div>
  </div>
</div>