<% if "#{t :dir}" == "ltr" %>
  <tr class="uk-grid margin-top-0 padding-bottom-15">
    <td class="uk-width-2-10">
      <%= image_tag(x.image_url) %>
    </td>
    <td class='uk-width-7-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>'>
      <%= best_in_place x, :name, :as => :input %>
    </td>
    <td class="uk-width-1-10">
      <span class="show_task_details">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </span>
    </td>
    <% if x.cur_end_date.present? %>
      <td class='uk-width-9-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>'><%= x.cur_end_date %>
      </td>
      <td class='uk-width-1-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>'></td>
    <% end %>
    <td class='uk-width-9-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>'>
      <a class="cost_paid_btn" href="#payment_form" data-cost="<%=cost(x)%>" data-paid="<%=paid(x)%>" data-task-id="<%=x.id%>">
        <% if (!x.cost.nil? || x.cost == "0") || (!x.paid.nil? || x.paid == "0" ) then %>
          <%= if (!x.cost.nil?) then x.cost else "0" end %>
          <%= "/" %>
          <%= if (!x.paid.nil?) then x.paid else "0" end %>
          <%= _("#{t('common.hint_cur')}") %>
        <% end %>
      </a>
    </td>
    <td class='uk-width-1-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>'></td>
    <td class='uk-width-9-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>' id="create_pro">
      <% if !x.pro.nil? %>
        <a class="invite_pro_btn" href="#invite_pro_form" data-task-id="<%=x.id%>" data-project-id="<%=@project.id%>" data-pro-id="<%=x.pro.try(:id)%>">
          <%= x.pro.full_name.present? ? x.pro.full_name : t('project.pro') %>
        </a>
      <% else %>
        <a class="invite_pro_btn" href="#invite_pro_form" data-cost="<%=cost(x)%>" data-paid="<%=paid(x)%>" data-task-id="<%=x.id%>">
          <%= t('project.pro') %>
        </a>
      <% end %>
    </td>
    <td class='uk-width-1-10 <%= wizard_class_name == "ltr" ? "uk-text-left" : "uk-text-right" %>'></td>
  </tr>
<% else %>
  <tr class="uk-grid margin-top-0 padding-bottom-15">
    <td class="uk-width-1-10">
      <span class="show_task_details">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </span>
    </td>
    <td class='uk-width-7-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>'>
      <%= best_in_place x, :name, :as => :input %>
    </td>
    <td class="uk-width-2-10">
      <%= image_tag(x.image_url) %>
    </td>
    <% if x.cur_end_date.present? %>
      <td class='uk-width-1-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>'></td>
      <td class='uk-width-9-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>'><%= x.cur_end_date %>
      </td>
    <% end %>
    <td class='uk-width-1-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>'></td>
    <td class='uk-width-9-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>'>
      <a class="cost_paid_btn" href="#payment_form" data-cost="<%=cost(x)%>" data-paid="<%=paid(x)%>" data-task-id="<%=x.id%>">
        <% if (!x.cost.nil? || x.cost == "0") || (!x.paid.nil? || x.paid == "0" ) then %>
          <%= if (!x.cost.nil?) then x.cost else "0" end %>
          <%= "/" %>
          <%= if (!x.paid.nil?) then x.paid else "0" end %>
          <%= _("#{t('common.hint_cur')}") %>
        <% end %>
      </a>
    </td>
    <td class='uk-width-1-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>'></td>
    <td class='uk-width-9-10 <%= wizard_class_name == "ltr" ? "uk-text-right" : "uk-text-left" %>' id="create_pro">
      <% if !x.pro.nil? %>
        <a class="invite_pro_btn" href="#invite_pro_form" data-task-id="<%=x.id%>" data-project-id="<%=@project.id%>" data-pro-id="<%=x.pro.try(:id)%>">
          <%= x.pro.full_name.present? ? x.pro.full_name : t('project.pro') %>
        </a>
      <% else %>
        <a class="invite_pro_btn" href="#invite_pro_form" data-cost="<%=cost(x)%>" data-paid="<%=paid(x)%>" data-task-id="<%=x.id%>">
          <%= t('project.pro') %>
        </a>
      <% end %>
    </td>
  </tr>
<% end %>