<tr class="task_details" hidden="true">
  <td class="task_details" colspan="7">
    <div>
      <p><%=  if !x.description.nil? then x.description end %></br></p>
      <p><% if x.dilemma_count==0 then %> 
          <%= (_("#{t('project.no_dilemma_title')}")
          link_to _("#{t('project.here')}")+x.name, new_dilemma_path(:task_id => x.id)) %> 
        <% else %>
          <% eval(x.dilemma_list).each do |id, title| %>
            <%= link_to title, dilemma_path(id) %></p>
          <% end %>
          <p><%= (link_to _("#{t('project.here_again')}")+x.name, new_dilemma_path(:task_id => x.id)) %> </p>
        <% end %>
      <p><%  if x.task_tips.to_s != "" then  %>
        <%= _("#{t('task.tips')}") %>
        <% eval(x.task_tips).each do |name, url| %></br>
          <i><%= link_to name, url, target: :_blank %></i>
        <% end %></p>
      <% end %>
      <p><%= _("#{t('task.cost')}") %>
        <%=  x.cost %>
        <%= _("#{t('common.hint_cur')}") %>,
        <%= _("#{t('task.paid')}") %>
        <%=  x.paid %>
        <%= _("#{t('common.hint_cur')}") %>
      </br></p>
      <p id = "show_notes">
        <i>
          <a class="notes_link" href="#notes_form" data-task-id="<%=x.id%>" data-notes="<%=x.notes%>">
            <%= _("#{t('task.notes')}") %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <%=  x.notes %>
        </i>
      </p>
      <p>
        <i><%=  link_to _("#{t('common.edit')}") , edit_project_task_path(@project,x) %></></i>
       | <i><%= link_to _("#{t('common.delete')}"), project_task_path(@project, x), data: {:confirm => _("#{t('common.are_you_sure')}")}, method: :delete %></i>
      </p>
    </div>
  </td>
</tr>
<tr class="add_pro_area" hidden="true">
  <td class="add_pro_area" colspan="7">
    <div class="uk-panel uk-form-width-medium">
      <p>pro info</p>
    </div>
  </td>
</tr>