<%= stylesheet_link_tag "forms" %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "project.js" %>
<% end %>

<body>
	<div class="uk-grid">	
		<div class="uk-container-center">
			<div class="uk-text-center">
				<h2><%= _("#{t('edit_project.edit_project')}") %></h2></br>
				<h2><%=  %></h2></br>
			</div>
			
			<div class="uk-grid uk-width-medium-1-1 holder">
				<%= simple_form_for(@project, :url => {:controller => 'projects', :action => 'update'}) do |f| %>
						<%= f.input :name, label: _("#{t('project.name')}") %>
						<!-- <%= f.label _("#{t('project.type')}") %> -->
						<!-- <%= f.collection_select :type_id, Type.all, :id, :name, prompt: true %> -->
						<%= f.input :description, label: _("#{t('project.description')}") %>
						<%= f.input :plot, label: _("#{t('project.plot')}") %>
						<%= f.input :build, label: _("#{t('project.lot')}") %>
						<!-- f.date_select :orig_start_date, label: _("#{t('project.start_date')}") -->
						<div class="uk-align-right uk-margin-large">
							<%= link_to _("#{t('common.back')}"), root_path %>   	
							<%= f.button :submit, _("#{t('dilemma.icon_common.update')}"), class:'primary-button mini-button' %>
						</div>
				<% end %>
				</br>
			</div>
		</div>
	 </div>
</body>