<header>
    <%= stylesheet_link_tag "forms" %>
</header>


<body>
    <main class="uk-container uk-container-center main-container">

        <div class="uk-grid">
            <div class="uk-width-medium-1-1 uk-text-center">
                <h2><%= _("#{t('pro.create_pro_title')}") %></h2>
            </div>
        </div>

        <div class="uk-grid ">
            <div class="uk-container uk-width-medium-8-10 uk-container-center">
                <%= simple_form_for([@project, @task, @pro], :url => {:controller => 'pros', :action => 'create'}) do |t| %>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 holder rtl">
                            <div class="uk-form-row string required new_pro_first"><%= t.input :first_name, label: "#{t('pro.first')}" %> </div>
                            <div class="uk-form-row string required new_pro_last"><%= t.input :last_name, label: "#{t('pro.last')}" %> </div>
                            <div class="uk-form-row string required new_pro_phone"><%= t.input :mobile_phone, label: "#{t('pro.phone')}" %> </div>
                            <div class="uk-form-row string required new_pro_email"><%= t.input :email, label: "#{t('pro.email')}" %> </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-container uk-width-medium-8-10 uk-container-center">
                <div class="uk_grid uk-align-left">
                    <%= t.button :submit, _("#{t('common.submit')}"), class:'primary-button mini-button' %>    
                </div>
            </div>
            <% end %>
        </div>
    </main>
</body>